{% extends 'base.html' %}


{% block title %}User Profile - Quiz Master{% endblock %}

{% block content %}

<body>
    <div class="container">
        <header>
            <h1>Welcome to Quiz Master</h1>
            <nav>
                <ul>
                    <li><a href="user/login.html" class="nav-link">User Dashboard</a></li>
                    <li><a href="admin/login.html" class="nav-link">Admin Dashboard</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>Get started </h2>
                <p>Select your role to get started with quizzes and more!</p>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 Quiz Master. All rights reserved </p>
        </footer>
    </div>
    
</body>
</html>
{% endblock %}