<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Quiz master</title>
    <link rel="stylesheet" href="static/csc/style.css">
    
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Quiz Master</h1>
            <nav>
                <ul>
                    <li><a href="user/dashboard.html">User Dashboard</a></li>
                    <li><a href="admin/admin-login.html">Admin Dashboard</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>Get started </h2>
                <p>Select your role to get started with quizzes and more!</p>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 Quiz Master. All rights reserved </p>
        </footer>
    </div>
    
</body>
</html>