{% extends 'base.html' %}
{% block title %} User Login - Quiz Master {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>User Login</h2>
    <form id="LoginForm" onsubmit="validateLogin(event)">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" required>

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="mt-3">Don't have an account ?<a href="/user-register">Register Here</a></p>
</div>

<script>
    function validateLogin(event){
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        if(!email || !password){
            alert('Please fill in all the fields');
            return;
        }
        alert('Login successful')
        window.location.href = '/user-dashboard';
    }
</script>
{% endblock %}